@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root{
    --pomodoro: #af3f3f;
    --short: #294d8f;
    --long: #0b6308;
}


html {
    text-align: center;
    background-color: var(--pomodoro);
    color: white;
    display: flex;
    justify-content:center;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
    transition: background-colour 0.5s ease;
    font-family: 'Lexend Deca', sans-serif;
}


#timer {
    font-size: 140px;
    font-weight: bold;
    user-select: none;
}

.mode{
    border: none;
    background: transparent;
    cursor: pointer;
    border-bottom: 1px rgb(220, 220, 220);
    color: rgba(218, 218, 218, 0.837);
    padding: 15px;
    font-size: 17px;
    transition-duration: 0.2s;
    font-family: 'Lexend Deca', sans-serif;

}


.mode.active {
    color: white;
    border-bottom: 2px solid white;
}

.mode.active:hover {
    color: white;
    border-bottom: 2px solid white;
}

.mode:hover{
    color: white;
    border-bottom: 1px solid white;
}

.timer-control {
    border:none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    color: black;
    mix-blend-mode: lighten;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    transition-duration: 0.2s;
}

.timer-control:disabled {
    background-color: rgb(227, 226, 226, 0.62);
}
.timer-control:disabled:hover {
   background-color: rgb(227, 226, 226, 0.62);
}
.timer-control:hover {
    background-color: rgb(228, 228, 228);
}

#duration-control {
    margin-top: 20px;
    user-select: none;
    font-family: 'Lexend Deca', sans-serif;
}

#duration-control .duration {
    margin-top: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}